:root {
  --bg-main: #efefef;
  --bg-highlight: #f3f3f3;
  --bg-accent: #d0d0d0;
  --bg-accent-light: #efefef;
  --bg-button: #3b3b3b;
  --bg-button-dark: #1d1d1d;
  --text-main: #585858;
  --text-bold: #000000;
  --text-option: #8498a1;
  --text-light: #e2e2e2;
  --text-lightest: #ffffff;
  --text-link: #20368d;
  --text-link-hover: #2468c6;
  --text-link-visited: #391c86;
  --storoke-light: #bbbbbb;
  
}

:root.dark {
  --bg-main: #051d2a;
  --bg-highlight: #092533;
  --bg-accent: #3a4750;
  --bg-accent-light: #1f292f;
  --text-main: #c7c7c7;
  --text-bold: #ffffff;
  --text-option: #99c8de;
  --text-link: #7388dd;
  --text-link-hover: #2c60a9;
  --text-link-visited: #7957d8;
  --storoke-light: #061d2d;
}

