.button {
  display: inline-block;
  background: var(--bg-button);
  color: var(--text-light);
  font-size: 85%;
  padding: 1em 2.2em;
  border-radius: 0.25rem;
  transition: background 0.3s ease;
  cursor: pointer;
  font-weight: 600;
  min-width: fit-content;
  &:hover {
    background: var(--bg-button-dark);
    color: var(--text-lightest) !important;
    transition: background 0.3s ease;
  }

  &.button-ghost {
    background: transparent;
    color: var(--text-main) !important;
    border: 1px solid var(--text-option);
  }

  &:visited {
    color: var(--text-light);
  }

  &.button-super-gradient {
    background: var(--bg-super-gradient);
    color: var(--text-lightest) !important;
    border: 0;
  }
}