pre.vp-code  {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  background-color: #e8e4dd; /* うすいグレーなど。Shiki の色を邪魔しない程度に */
}

html.dark pre.vp-code {
  background-color: #021018;
}

.vp-code code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1.4rem;
}

/* Shiki が出力するコードフェンス用の色適用 */
.vp-code span {
  color: var(--shiki-light);
}

html.dark .vp-code span,
:root[class~="dark"] .vp-code span {
  color: var(--shiki-dark);
}